#icon-easyazon-settings {
	background: transparent url(img/logo-32x32.png) no-repeat center center;
}

input[type="text"].easyazon-error {
	border-color: #990000;
}

p.easyazon-error,
p.easyazon-error a {
	color: #990000;
}

.easyazon-ajax-feedback {
	left: 5px;
	position: relative;
	top: 3px;
}

.easyazon-image {
	width: 75px;
}

.easyazon-image img {
	max-height: auto;
	max-width: 100%;
}

.easyazon-title {

}

.easyazon-links {
	width: 100px;
}

#insert-easyazon-button.button.insert-media {
	padding-right: 0.4em;
}

.easyazon-disabled {
	opacity: 0.8;
}

p.easyazon-sell {
	font-style: normal;
	max-width: 550px;
}

/* media upload */
.easyazon-process {
	padding: 0 16px 32px;
}

.easyazon-shortcode-image-preview-container {

}

.easyazon-shortcode-image-preview {
	height: auto;
	max-height: 100%;
	max-width: 100%;
	width: auto;
}

.easyazon-process-clear {
	clear: both;
}

.media-embed .setting .easyazon-input {
	display: inline;
}

.media-embed .setting .easyazon-input.easyazon-button {
	width: auto;
}

p.easyazon-upsell {
	clear: both;
	padding-top: 10px;
}